
fastapi
firebase-admin
Flask
Flask-Login
Flask-LoginManager
Flask-SocketIO
Flask-Sockets
gcloud
gevent
gevent-websocket
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphql-core
httpcore
httplib2
httpx
idna

oauth2client
packaging
pycryptodome==3.18.0
pycryptodome-test-vectors==1.0.12
pydantic
python-dateutil
python-engineio
python-jwt
python-socketio
Pyrebase
requests
requests-toolbelt
rfc3986
rsa
sgqlc
shellescape
simple-settings
simple-websocket
sip
six
sniffio

SQLAlchemy
starlette
uvicorn
Werkzeug
wsproto
zipp
